<mat-form-field>
    <mat-label>Name:*</mat-label>
    <input type="text" placeholder="Name">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Email:*</mat-label>
    <input type="email" placeholder="Email">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Phone:*</mat-label>
    <input type="number" placeholder="">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Fax:</mat-label>
    <input type="text" placeholder="">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Address:*</mat-label>
    <input type="text" placeholder="">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Postcode:*</mat-label>
    <input type="number" placeholder="">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Country:*</mat-label>
    <select>
        <option>india</option>
        <option>USA</option>
        <option>UAE</option>
    </select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>D.O.B:*</mat-label>
    <input type="date" placeholder="">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Sex:*</mat-label>
    <input type="radio" placeholder="">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Disclaimer</mat-label>
    <input type="checkbox" placeholder="">
  </mat-form-field>
  <mat-form-field>
    <input type="button" placeholder="Submit">
  </mat-form-field>